.main {
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  position: relative;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;

  font-style: normal;
  font-size: 50px;
  letter-spacing: -0.05em;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;

  font-family: 'Pixelify Sans Regular';
  font-style: normal;
  font-size: 130px;
  line-height: 130px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.helloworld {
  background: linear-gradient(90deg, #2cb4db 0%, #e0f7ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.crangE {
  object-fit: contain;
  width: 280px;
  user-select: none;
}

.RecruitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00cfff;
  color: #e5f7fb;
  font-size: 50px;
  padding: 1rem 3rem;
  margin-top: 3rem;
  border-radius: 2rem;
  text-decoration: none;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
  &:hover {
    background-color: #e5f7fb;
    color: #00cfff;
  }
  p {
    text-align: center;
    letter-spacing: -0.05em;
  }
}

.vector {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.25rem 0rem;
  user-select: none;
  img {
    width: 55px;
    height: 27px;
  }
}

.vector:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40rem;
  margin-bottom: 50rem;
  p {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-style: normal;
    font-size: 40px !important;
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    z-index: 1;
  }
  p::before {
    content: '세대를 아우르는 열정과 끈끈한 \A유대감의 동아리, CRA를 소개합니다.';
    white-space: pre-wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: #ffffff;
    filter: blur(20px);
  }
}

@media (max-width: 1460px) {
  .comment {
    font-size: 46px;
  }
  .banner {
    font-size: 110px;
  }
  .crangE {
    width: 280px !important;
  }
  .section2 p {
    font-size: 37px !important;
  }

  .RecruitBtn {
    font-size: 45px;
  }
}

@media (max-width: 1024px) {
  .comment {
    font-size: 42px;
  }
  .banner {
    font-size: 90px;
    line-height: 115px;
  }
  .crangE {
    width: 240px !important;
  }
  .section2 p {
    font-size: 34px !important;
  }
  .RecruitBtn {
    font-size: 40px;
  }
}

@media (max-width: 894px) {
  .comment {
    font-size: 38px;
  }
  .banner {
    font-size: 80px;
    line-height: 100px;
  }
  .crangE {
    width: 200px !important;
  }
  .vector {
    img {
      width: 45px;
      height: auto;
    }
  }
  .section2 p {
    font-size: 31px !important;
  }
  .RecruitBtn {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .comment {
    font-size: 34px;
  }
  .banner {
    font-size: 68px;
    line-height: 90px;
  }
  .vector {
    img {
      width: 40px;
      height: auto;
    }
  }
  .crangE {
    width: 180px !important;
  }
  .section2 p {
    font-size: 28px !important;
  }
  .RecruitBtn {
    font-size: 30px;
    padding: 0.75rem 2.5rem;
  }
}

@media (max-width: 620px) {
  .comment {
    font-size: 27px;
  }
  .banner {
    font-size: 50px;
    line-height: 70px;
  }
  .section {
    margin-top: 0;
    padding-top: 0;
  }
  .vector {
    img {
      width: 35px;
      height: auto;
    }
  }
  .section2 p {
    font-size: 23px !important;
  }
  .crangE {
    display: none;
  }
  .RecruitBtn {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .comment {
    font-size: 20px;
  }
  .banner {
    font-size: 40px;
  }
  .vector {
    img {
      width: 30px;
      height: auto;
    }
  }
  .section2 p {
    font-size: 20px !important;
  }
  .RecruitBtn {
    font-size: 20px;
    padding: 0.75rem 2rem;
  }
}

@media (max-width: 368px) {
  .comment {
    font-size: 18px;
  }
  .banner {
    font-size: 36px;
  }
  .section2 p {
    font-size: 18px !important;
  }
  .RecruitBtn {
    font-size: 18px;
    padding: 0.75rem 1.5rem;
  }
}

@media (min-width: 621px) {
  .character1 {
    position: absolute;
    top: 65%;
    left: 95%;
    transform: translate(-50%, -50%);
  }

  .character2 {
    position: absolute;
    top: 15%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 262.51px;
  }

  .character3 {
    position: absolute;
    top: 12%;
    left: 105%;
    transform: translate(-50%, -50%);
    width: 262.51px;
  }

  .character4 {
    position: absolute;
    top: 65%;
    left: -5%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 620px) {
  .character1,
  .character2,
  .character3,
  .character4 {
    display: none !important;
  }
}
