.main {
  height: 66.5rem;
}

.section {
  position: relative;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;

  font-style: normal;
  font-size: 3.125em;
  line-height: 150px;
  letter-spacing: -0.05em;
  color: #ffffff;
  margin-bottom: -30px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;

  font-family: 'Pixelify Sans Regular';
  font-style: normal;
  font-size: 8.5vw;
  line-height: 150px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.helloworld {
  background: linear-gradient(90deg, #2cb4db 0%, #e0f7ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.crangE {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  user-select: none;
}

.recruit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00cfff;
  color: #e5f7fb;
  width: 40vw;
  font-size: 2.5vw;
  padding: 1rem 0rem;
  margin-top: 3rem;
  border-radius: 2rem;
  text-decoration: none;
  transition: transform 0.4s ease;
  &:hover {
    transform: scale(1.05);
  }
  p {
    text-align: center;
  }
}

.vector {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.25rem 0rem;
  user-select: none;
  img {
    width: 3.4375rem;
    height: 1.6875rem;
  }
}

.vector:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
  user-select: none;
}

.comment2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-style: normal;
  font-size: clamp(30px, 3vw, 3vw);
  color: #ffffff;
  text-align: center;
  line-height: 80px;
  margin-bottom: -700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur-round {
  width: 100%;
  height: auto;
}

@media (max-width: 1460px) and (min-width: 1024px) {
  .helloworld {
    font-size: 8.5vw;
  }
  .comment {
    font-size: clamp(30px, 3.5vw, 3.5vw);
  }

  .comment2 {
    font-size: clamp(30px, 3vw, 3vw);
  }
}

@media (max-width: 1024px) {
  .crangE {
    width: 20%; /* 태블릿 크기에서는 좀 더 작게 설정 */
  }

  .comment {
    font-size: clamp(20px, 3.5vw, 100px);
  }

  .banner {
    line-height: 10vw;
  }

  .section2 {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }

  .comment2 {
    font-size: clamp(23px, 3vw, 3vw);
  }
}

@media (max-width: 894px) {
  .section2 {
    margin-top: 1.5rem;
    margin-bottom: 6rem;
  }
}

@media (max-width: 768px) {
  .section2 {
    margin-top: 0rem;
  }
  .comment2 {
    padding: 0 3rem;
  }
  .crangE {
    width: 50% !important;
  }
}

@media (max-width: 480px) {
  .section2 {
    margin-top: 0rem;
  }

  .crangE {
    width: 30% !important;
  }

  .recruit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00cfff;
    color: #e5f7fb;
    width: 40vw;
    font-size: 2.5vw;
    padding: 1rem 0rem;
    margin-top: 3rem;
    border-radius: 2rem;
    text-decoration: none;
    transition: transform 0.4s ease;
    &:hover {
      transform: scale(1.05);
    }
    p {
      text-align: center;
    }
  }

  .comment2 {
    font-size: 19px;
  }
}

@media (min-width: 301px) {
  .character1 {
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 317.42px;
    height: 299.78px;
  }

  .character2 {
    position: absolute;
    top: 12%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 262.88px;
    height: 248.278px;
  }

  .character3 {
    position: absolute;
    top: 13%;
    left: 83%;
    transform: translate(-50%, -50%);
    width: 262.51px;
    height: 247.92px;
  }

  .character4 {
    position: absolute;
    top: 65%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 326.58px;
    height: 308.44px;
  }
}

@media (max-width: 300px) {
  .character1,
  .character2,
  .character3,
  .character4 {
    display: none !important;
  }
}
