.project-list-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(23vw, 1fr)
  ); /* 기본적으로 최소 300px 크기, 화면 크기에 맞춰 열 개수 조정 */
  gap: 0.5rem;
  padding-top: 34px;
  padding-bottom: 10rem;
  max-width: 1200px; /* 컨테이너 최대 너비 */
  margin: 0 auto; /* 가로 중앙 정렬 */
}

@media (max-width: 700px) {
  .project-list-container {
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  }
}
@media (max-width: 480px) {
  .project-list-container {
    grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
  }
}
