.project-list-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* 반응형 3등분 */
  gap: 0.7rem;
  padding-top: 34px;
  padding-bottom: 10rem;
  max-width: 1200px; /* 컨테이너 최대 너비 */
  margin: 0 auto;
}
