.BoardItemContainer {
  width: 96%;
  display: flex;
  flex-direction: column;
  margin-right: 17px;
  margin-left: 17px;
  justify-content: space-between;
  &:hover {
    .board-title,
    .board-created {
      color: var(--color-primary);
    }
  }
}

.TempLink {
  width: 100%;
  display: block;
  text-decoration: none;
}

.BoardTitle {
  width: 100%;
  line-height: 34px;
  font-size: 18px;
  font-family: 'Pretendard SemiBold';
  text-decoration: none;
  color: var(--color-dark-text);
  display: inline;
  &:hover {
    color: var(--color-primary);
  }
}

.BoardCreated {
  float: right;
  display: inline;
  text-decoration: none;
  color: var(--color-brighter-text);
  font-size: 15px;
  font-family: 'Pretendard Medium';
  margin: 8px 0;
}

@media (max-width: 1200px) {
  .BoardTitle {
    font-size: 17px;
  }
  .BoardCreated {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .BoardTitle {
    font-size: 16.5px;
  }
  .BoardCreated {
    font-size: 13.5px;
  }
}

@media (max-width: 788px) {
  .BoardTitle {
    font-size: 16px;
  }
  .BoardCreated {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .BoardTitle {
    font-size: 15.5px;
  }
  .BoardCreated {
    font-size: 12.5px;
  }
}
