.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1086px;
  margin: 0 auto;
}

.activity-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
  p {
    flex-basis: 100%;
    margin-left: 0;
    font-size: 40px;
    font-family: 'Pretendard Bold';
    color: var(--color-bright-text);
  }
}

.notice-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1086px;
  margin-bottom: 5rem;
  p {
    flex-basis: 100%;
    margin-left: 1rem;
    margin-bottom: 4rem;
    font-size: 40px;
    font-family: 'Pretendard Bold';
    color: var(--color-bright-text);
  }
}

.link {
  text-decoration: none;
  color: var(--color-bright-text);
  &:hover {
    color: var(--color-primary);
  }
}

.activity-block {
  width: 100%;
  height: 30rem;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #c1c1c1;
  padding-top: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  img {
    user-select: none;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 966px;
  }
}

@media (max-width: 1080px) {
  .container {
    max-width: 836px;
  }
  .link {
    font-size: 38px;
  }
}

@media (max-width: 888px) {
  .container {
    max-width: 666px;
  }
  .link {
    font-size: 36px;
  }
}

@media (max-width: 748px) {
  .container {
    max-width: 85%;
  }
  .link {
    font-size: 34px;
    p {
      margin-left: 0rem;
    }
  }
}

@media (max-width: 628px) {
  .link {
    font-size: 32px;
  }
  .activity-block {
    height: auto;
    img {
      width: 50vw;
    }
  }
}
