.write-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 180px;
  width: 100%;
  max-width: 1086px;
  margin: 0 auto;
}

.write-title {
  margin-left: 10px;
  padding-bottom: 34px;
  font-size: 40px;
  font-family: 'Pretendard Bold';
  color: var(--color-bright-text);
}

.write-form {
  display: flex;
  flex-direction: column;
}

.write-form label {
  margin: 20px 0 16px 10px;
  font-size: 24px;
  font-family: 'Pretendard SemiBold';
  color: #3e3e3e;
}
.write-form input[type='text'],
.write-form input[type='number'],
.write-form textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}

.write-form input[type='number'],
.write-form textarea {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 34px;
  font-size: 18px;
  padding: 20px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}

.write-form input[type='text']::placeholder,
.write-form textarea::placeholder {
  color: #c1c1c1;
}

.input-title {
  height: 68px;
  border-color: #c1c1c1;
  padding: 0 20px;
}

.input-content {
  aspect-ratio: 1 / 1;
}

.write-form input:focus,
.write-form textarea:focus {
  border-color: #adadad;
  outline: none;
}

.write-form input[readonly] {
  cursor: not-allowed;
}

.write-form input[type='content'] {
  height: 200%;
}

.remove-button {
  color: black;
  border: none;
  padding: 3px 7px;
  border-radius: 50%;
  cursor: pointer;
}

.submit-button {
  margin: 0 auto;
  margin-top: 40px;
  font-family: 'Pretendard Bold';
  font-size: 24px;
  height: 68px;
  width: 46%;
  background-color: #2cb4db;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.submit-button:hover {
  background-color: #2295ba;
}

.error-message {
  color: #ff0000;
  font-size: 0.875rem;
  margin: 0.5rem 0 0 0.5rem;
}

.input-error {
  border: 1px solid #ff0000 !important;
}

.editor-error-container {
  padding-bottom: 2px;
  border: 0.05rem solid red; /* 테두리를 빨간색으로 표시 */
  background-color: rgba(255, 0, 0, 0.1); /* 배경을 옅은 빨간색으로 */
  border-radius: 5px;
}

.editor-container {
  padding-bottom: 2px;
}
