.recruit-container {
  background-color: black;
  width: 100%;
  overflow: hidden;
}

.recruit-main {
  background: black;
}

.recruit-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  margin-top: 5rem;
}

#title {
  color: #ffffff;
  font-size: clamp(35px, 6vw, 6vw);
  font-weight: 978;
  letter-spacing: -1px;
  line-height: clamp(30px, 5vw, 5vw);
  font-family: 'Archivo Black';
}

#content {
  color: #dcf8ff;
  font-size: clamp(15px, 2.9vw, 2.9vw);
  padding: clamp(1rem, 2.5vw, 2.5rem) 0rem;
  font-family: 'Pretendard Bold';
}

.recruit-apply1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem 1rem 0rem;

  h1 {
    padding-top: 10px;
    padding-bottom: 3vw;
    font-size: 3vw;
    color: white;
    font-family: 'Pretendard Bold';
  }

  .button-style {
    padding: 1vw 15vw;
    font-size: 2vw;
    font-family: 'Pretendard Bold';
    color: white;
    background: #2cb4db;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* 부드러운 전환 효과 */
  }

  .button-style:hover {
    transform: scale(1.05);
  }
}

/* ------------------------------------------------------------------------------------------------------------ */
.recruit-talent {
  display: flex;
  flex-direction: column;
  align-items: center; /* 부모 요소를 가운데 정렬 */
  justify-content: center; /* 부모 요소를 세로로 가운데 정렬 */
  padding: 2vw 0rem;
  color: white;

  h2 {
    padding-top: clamp(100px, 25vw, 250px);
    padding-bottom: 40px;
    font-size: clamp(25px, 3vw, 3vw);
    font-family: 'Pretendard Bold';
  }
}

.recruit-talentDetail {
  div {
    display: flex;
    padding: clamp(5px, 2.5vw, 25px);
    font-size: clamp(10px, 2vw, 25px);
    font-weight: bold;
    line-height: 1.6;
    color: white;
  }
  .number {
    font-family: 'Pretendard ExtraBold';
    margin-right: 6vw; /* 숫자와 텍스트 사이 간격 */
    color: #2cb4db;
  }

  span {
    display: inline-block;
  }
}

/* ------------------------------------------------------------------------------------------------------------ */

.recruit-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem clamp(2rem, 15vw, 20rem) 0rem;

  h2 {
    padding-top: 200px;
    padding-bottom: clamp(10px, 5vw, 100px);
    font-size: clamp(25px, 3vw, 3vw);
    color: white;
    font-family: 'Pretendard Bold';
  }
}

.recruit-contentDetail {
  display: flex;
  flex-direction: row;
}

.content-box {
  width: clamp(120px, 20vw, 800px);
  height: clamp(120px, 15vw, 800px);
  aspect-ratio: 397 / 281;
  background-color: rgb(237, 237, 237);
  border-radius: 1vw;
  margin: clamp(3px, 0.5vw, 10px);

  h3 {
    padding: 1vw;
    font-size: clamp(10px, 1.7vw, 1.7vw);
    font-family: 'Pretendard ExtraBold';
  }

  p {
    display: flex;
    font-size: clamp(8px, 1.2vw, 50px);
    margin-left: 1.4vw;
    line-height: clamp(10px, 1.6vw, 1.6vw);
    font-family: 'Pretendard Medium';
  }
}

/* ------------------------------------------------------------------------------------------------------------ */

.recruit-calender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem 30rem 0rem;

  h2 {
    padding-top: 50px;
    padding-bottom: clamp(20px, 13vw, 240px);
    font-size: clamp(25px, 3vw, 3vw);
    color: white;
    font-family: 'Pretendard Bold';
  }
}

.calender-line {
  width: 50%; /* 줄의 길이를 조금 짧게 조정 */
  height: 3px; /* 줄의 높이 */
  background-color: rgb(209, 209, 209); /* 줄의 색상 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.calender-box {
  height: clamp(100px, 10vw, 10vw);
  aspect-ratio: 286 / 199;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  margin: 15px;

  h3 {
    font-size: clamp(10px, 1.2vw, 1.2vw);
    padding: 20px;
    font-family: 'Pretendard Bold';
  }

  p {
    display: flex;
    font-size: 1.3vw;
    line-height: 1.3;
    margin-left: 1.6vw;
    font-family: 'Pretendard Medium';
    color: #3e3e3e;
  }
}

/* ------------------------------------------------------------------------------------------------------------ */

.recruit-apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem 30rem 0rem;

  h1 {
    padding-top: 10px;
    padding-bottom: 3vw;
    font-size: 3vw;
    color: white;
    font-family: 'Pretendard Bold';
  }

  .button-style {
    padding: 1vw 15vw;
    font-size: 2vw;
    font-family: 'Pretendard Bold';
    color: white;
    background: #2cb4db;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* 부드러운 전환 효과 */
  }

  .button-style:hover {
    transform: scale(1.05);
  }
}

/*----------------------------------------------------------------*/

.vector {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.25rem 0rem;
  img {
    width: clamp(30px, 4vw, 4vw);
    height: clamp(15px, 2vw, 2vw);
  }
}

.vector:hover {
  cursor: pointer;
  transform: scale(1.05);
}
