.recruit-container {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column; /* 세로로 스크롤 */
}

.recruit-main {
  background: black;
  height: 100vh;
}

.recruit-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  margin-top: 5rem;
}

#title {
  color: var(--color-white);
  font-size: clamp(40px, 6vw, 6vw);
  font-weight: 978;
  letter-spacing: -1px;
  line-height: clamp(30px, 5vw, 5vw);
  font-family: 'Archivo Black';
}

#content {
  color: var(--color-white-blue-text);
  font-size: clamp(14px, 2.9vw, 2.9vw);
  padding: clamp(1rem, 2.5vw, 2.5rem) 0rem;
  font-family: 'Pretendard Bold';
  text-shadow:
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4);
}

.recruit-apply1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem 1rem 0rem;

  h1 {
    padding-top: 10px;
    padding-bottom: 3vw;
    font-size: 3vw;
    color: var(--color-white);
    font-family: 'Pretendard Bold';
  }

  .button-style {
    padding: clamp(10px, 1vw, 1vw) clamp(20px, 15vw, 15vw);
    font-size: clamp(15px, 2vw, 2vw);
    font-family: 'Pretendard Bold';
    color: var(--color-white);
    background: var(--color-primary);
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* 부드러운 전환 효과 */
  }

  .button-style:hover {
    transform: scale(1.05);
  }
}

/* ------------------------------------------------------------------------------------------------------------ */
.recruit-talent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* 부모 요소를 가운데 정렬 */
  justify-content: center; /* 부모 요소를 세로로 가운데 정렬 */

  color: var(--color-white);
}

.recruit-title {
  padding-top: clamp(100px, 25vw, 250px);
  padding-bottom: 40px;
  font-size: clamp(20px, 3vw, 50px);
  font-family: 'Pretendard Bold';
  opacity: 0; /* 기본적으로 처음엔 안 보이게 설정 */
  transform: scale(0.8); /* 처음에는 약간 작게 시작 */
  transition:
    transform 0.5s ease-out,
    opacity 0.7s ease-out;
}

.recruit-title.animate {
  opacity: 1; /* 서서히 나타남 */
  transform: scale(1.2); /* 커졌다가 */
}

.recruit-title.animate::after {
  content: '';
  animation: scaleBack 0.5s ease-out 0.5s forwards;
}

@keyframes scaleBack {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.recruit-talentDetail {
  div {
    display: flex;
    padding: clamp(20px, 4.5vw, 30px);
    font-size: clamp(15px, 2vw, 25px);
    font-weight: 'Pretendard Semibold';
    line-height: 1.6;
    color: var(--color-white);
  }
  .number {
    font-family: 'Pretendard ExtraBold';
    margin-right: 6vw; /* 숫자와 텍스트 사이 간격 */
    color: var(--color-primary);
  }

  span {
    display: inline-block;
  }
}

@media (max-width: 768px) {
}

/* ------------------------------------------------------------------------------------------------------------ */

.recruit-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    padding-bottom: clamp(10px, 5vw, 100px);
    font-size: clamp(25px, 3vw, 3vw);
    color: var(--color-white);
    font-family: 'Pretendard Bold';
  }
}

.recruit-contentDetail {
  display: flex;
  flex-direction: column;
  color: white;

  h3 {
    padding: clamp(10px, 1vw, 1vw);
    font-size: clamp(10px, 1.7vw, 1.7vw);
    font-family: 'Pretendard ExtraBold';
  }

  p {
    display: flex;
    font-size: clamp(8px, 1.2vw, 50px);
    margin-left: 1.4vw;
    line-height: clamp(10px, 1.6vw, 1.6vw);
    font-family: 'Pretendard Medium';
    text-align: center;
  }
}

/* ------------------------------------------------------------------------------------------------------------ */

.recruit-calender {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    padding-bottom: clamp(25px, 10vw, 240px);
    font-size: clamp(25px, 3vw, 3vw);
    color: var(--color-white);
    font-family: 'Pretendard Bold';
  }
}

.calender-line {
  width: 50%; /* 줄의 길이를 조금 짧게 조정 */
  height: 8px; /* 줄의 높이 */
  background-color: #2cb4db; /* 줄의 색상 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0 0 10px rgba(44, 180, 219, 0.8),
    0 0 20px rgba(44, 180, 219, 0.6),
    0 0 30px rgba(44, 180, 219, 0.4);
}

.calender-box {
  height: clamp(100px, 10vw, 10vw);
  aspect-ratio: 286 / 199;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  margin: 15px;

  h3 {
    font-size: clamp(15px, 1.4vw, 1.4vw);
    padding: clamp(5px, 1vw, 20px);
    font-family: 'Pretendard Bold';
  }

  p {
    display: flex;
    font-size: clamp(15px, 1.3vw, 1.3vw);
    line-height: 1.3;
    margin-left: 1.6vw;
    font-family: 'Pretendard Medium';
    color: var(--color-dark-text);
  }
}

@media (max-width: 768px) {
  .recruit-calender {
    h2 {
      padding-top: 50px;
      padding-bottom: clamp(20px, 13vw, 240px);
      font-size: clamp(25px, 3vw, 3vw);
      color: var(--color-white);
      font-family: 'Pretendard Bold';
    }
  }

  .calender-line {
    position: relative;
    height: 500px; /* 선 길이 */
    border-left: thick solid var(--color-primary); /* 원래 선 */
    margin-left: 50%;

    /* 기존 배경 제거 */
    background-color: transparent;
    box-shadow: none;
    /* 네온 효과 */
    filter: drop-shadow(0px -5px 15px rgba(50, 161, 206, 0.7));
  }

  .calender-line::before {
    content: '';
    position: absolute;
    left: -8px; /* 선 기준으로 왼쪽에만 효과 */
    top: 0;
    width: 12px; /* 빛의 두께 */
    height: 100%;
    background-color: var(--color-calender-blue);
    opacity: 0.6;
    filter: blur(12px); /* 부드러운 빛 효과 */
    z-index: -1; /* 내용보다 뒤에 위치하도록 설정 */
  }

  .calender-box {
    position: absolute;
    height: clamp(100px, 10vw, 10vw);
    aspect-ratio: 286 / 199;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    margin: 15px;

    h3 {
      font-size: clamp(15px, 1.2vw, 1.2vw);
      padding: 15px;
      font-family: 'Pretendard Bold';
    }

    p {
      display: flex;
      font-size: clamp(15px, 1.2vw, 1.2vw);
      line-height: 1.3;
      margin-left: 20%;
      font-family: 'Pretendard Medium';
      color: var(--color-dark-text);
    }
  }

  .calender-box:nth-child(1) {
    top: -20px;
    left: -130px;
  }
  .calender-box:nth-child(2) {
    top: 120px;
    left: -50px;
  }
  .calender-box:nth-child(3) {
    top: 260px;
    left: -130px;
  }
  .calender-box:nth-child(4) {
    top: 400px;
    left: -50px;
  }
}

/* ------------------------------------------------------------------------------------------------------------ */

.recruit-apply {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    padding-bottom: clamp(30px, 3vw, 3vw);
    font-size: clamp(20px, 3vw, 3vw);
    color: var(--color-white);
    font-family: 'Pretendard Bold';
  }

  .button-style {
    padding: clamp(10px, 1vw, 1vw) clamp(20px, 15vw, 15vw);
    font-size: clamp(15px, 2vw, 2vw);
    font-family: 'Pretendard Bold';
    color: var(--color-white);
    background: var(--color-primary);
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* 부드러운 전환 효과 */
  }

  .button-style:hover {
    transform: scale(1.05);
  }
}

/*----------------------------------------------------------------*/

.vector {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.25rem 0rem;
  cursor: pointer;
}

.vector img {
  width: clamp(30px, 4vw, 4vw);
  height: clamp(15px, 2vw, 2vw);
  animation: highwayEffect 1.5s infinite ease-in-out;
  opacity: 0;
}

.vector img:nth-child(1) {
  animation-delay: 0s;
}
.vector img:nth-child(2) {
  animation-delay: 0.2s;
}
.vector img:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes highwayEffect {
  0% {
    transform: translateY(-10px) scale(0.8); /* 위에서 작게 시작 */
    opacity: 0;
  }
  50% {
    transform: translateY(5px) scale(1); /* 아래로 내려오면서 확대 */
    opacity: 1;
  }
  100% {
    transform: translateY(10px) scale(0.8); /* 사라지듯 축소 */
    opacity: 0;
  }
}

.vector:hover {
  transform: scale(1.05);
}

/*----------------------------------------------------------------------*/

.recruit-main1 {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh; /* 최소 높이를 화면 전체로 설정 (스크롤 가능) */
}

.recruit-banner1 {
  position: relative;
  width: 55vw;
  max-width: 777px; /* 원하는 크기 */
  height: auto; /* 비율 유지 */
  aspect-ratio: 777 / 303; /* 가로세로 비율 유지 */
  margin-top: 15rem;
  margin-bottom: 25rem;
}

.recruit-banner1 img {
  position: absolute;
}

.cr-image {
  left: 20%; /* CR은 왼쪽에 위치 */
  width: 100%; /* CR 이미지 크기 */
  transform-origin: left center; /* 왼쪽 끝을 기준으로 이동 */
  transition:
    transform 1.5s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 1s ease-out;
}

.a-image {
  right: 30%; /* A는 오른쪽에 위치 */
  width: 100%; /* A 이미지 크기 */
  transform-origin: right center; /* 오른쪽 끝을 기준으로 이동 */
  transition:
    transform 1.5s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 1s ease-out;
}

/* CR은 왼쪽 끝으로 이동, A는 오른쪽 끝으로 이동 */
.cr-expand {
  transform: translateX(-20%); /* CR 이미지가 왼쪽 끝으로 이동 */
  transition:
    transform 1.5s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 1s ease-out;
}

.a-expand {
  transform: translateX(30%); /* A 이미지가 오른쪽 끝으로 이동 */
  transition:
    transform 1.5s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 1s ease-out;
}

.scratch-image {
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%) scale(0); /* 처음에는 작게 시작 */
  opacity: 0; /* 처음에는 보이지 않음 */
  transition:
    opacity 1s ease-out,
    transform 1s ease-out; /* 애니메이션 효과 */
  z-index: 1;
}

/* 확장될 때 스크래치 이미지 */
.scratch-expand {
  width: 100%;
  opacity: 1; /* 보이게 됨 */
  transform: translate(-50%, -50%) scale(1); /* 크기가 커짐 */
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

.content-image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  filter: drop-shadow(0 0 15px var(--color-primary));
}

.content-expand {
  width: 100%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s ease-out 1s;
}
