.container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  font-family: 'Pretendard Medium';
  font-size: 1.2rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: 3rem 10rem;
  margin-top: 2rem;
  margin-bottom: 6rem;

  form {
    display: flex;
    flex-direction: column;
    width: 40vw;

    label {
      margin: 0 0 16px 10px;
      font-size: 24px;
      font-family: 'Pretendard SemiBold';
      color: var(--color-dark-text);
    }

    input {
      font-family: 'Pretendard SemiBold';
      margin-bottom: 34px;
      height: 68px;
      font-size: 18px;
      border: 1px solid var(--color-dark-stroke);
      border-radius: 10px;
    }
    input[type='text'],
    input[type='number'] {
      border-color: var(--color-dark-stroke);
      padding: 0 20px;
      &:focus {
        border: 1.5px var(--color-more-primary) solid;
        outline: none;
      }
    }

    input[type='submit'] {
      align-self: center;
      width: 15rem;
      background-color: var(--color-blue-primary);
      color: var(--color-white);
      height: 54px;
      font-size: 1.25rem;
      font-family: 'Pretendard Bold';
      border: none;
      border-radius: 1rem;
      padding: 0.75rem 1rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.profile_container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.profile_image {
  flex-shrink: 0;
  width: fit-content;
}

.info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 2rem;
}

.info_row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.info_full {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Pretendard SemiBold';

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pretendard Medium';
    margin-bottom: 0.5rem;
    width: 100%;
  }
}

.info_content {
  font-size: 1.5rem;
}

.title {
  align-self: center;
  font-size: 40px;
  font-family: 'Pretendard Bold';
  color: var(--color-bright-text);
  margin-bottom: 3rem;
}

.name {
  align-self: center;
  margin: 1.5rem 0;
  font-size: 40px;
  font-family: 'Pretendard Bold';
  width: fit-content;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  width: 20rem;
  flex: 1;
  font-family: 'Pretendard SemiBold';

  p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Pretendard Medium';
    font-size: 1.3rem;
    float: left;
    margin-bottom: 0.5rem;
    width: 100%;
    border-bottom: 1px solid var(--color-dark-stroke);
  }
}

.infoIcon {
  margin-right: 0.3rem;
}

.buttons {
  display: flex;
  align-self: center;
  margin-top: 2rem;
  gap: 1rem;
  button {
    width: 11rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1.25rem;
    font-family: 'Pretendard Bold';
    border: none;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    margin-top: 2rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.edit {
  background-color: var(--color-blue-primary) !important;
}

.delete {
  background-color: var(--color-pink) !important;
}

.link {
  font-family: 'Pretendard SemiBold';
  color: var(--color-primary);
  text-decoration: none;
  &:hover {
    color: var(--color-blue-primary);
  }
}

.realDelete {
  align-self: center;
  background-color: var(--color-error) !important;
  width: 13rem !important;
  padding: 0.85rem 0 !important;
}

.onemorechange {
  align-self: center;
  background-color: var(--color-more-primary) !important;
  width: 13rem !important;
  padding: 0.85rem 0 !important;
}

.deleting {
  align-self: center;
  font-size: 2rem;
  font-family: 'Pretendard SemiBold';
}

.image {
  align-self: center;
  margin-bottom: 3rem;
}

.profile {
  display: flex;
  justify-content: center;
}

.preview {
  width: 20rem;
  height: 20rem;
  border-radius: 40%;
  border: 1px solid var(--color-bright-text);
  object-fit: cover;
}

.fileUpload {
  display: none;
}

.fileLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue-primary);
  color: var(--color-white);
  font-size: 1.2rem;
  width: 11rem;
  height: 54px;
  font-family: 'Pretendard SemiBold';
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.fileLabel:hover {
  transform: scale(1.05);
}

.confirmbutton {
  width: 11rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.25rem;
  font-family: 'Pretendard Bold';
  border: none;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  margin: 0 !important;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}
