.container {
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard Medium';
  font-size: 1.2rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 4rem 10rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  p {
    font-family: 'Pretendard Medium';
    float: left;
    margin-right: 0.5rem;
    background-color: var(--color-pink);
  }
}

.title {
  font-size: 40px;
  font-family: 'Pretendard Bold';
  color: var(--color-bright-text);
  margin-bottom: 3rem;
}

.info {
  margin-top: 2rem;
  font-family: 'Pretendard SemiBold';
}

.buttons {
  display: flex;
  margin-top: 2rem;
  button {
    width: 11rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1.25rem;
    font-family: 'Pretendard Bold';
    border: none;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.profile {
}

.edit {
  background-color: var(--color-blue-primary) !important;
}

.delete {
  background-color: var(--color-pink) !important;
}

.link {
  font-family: 'Pretendard SemiBold';
  color: var(--color-primary);
  text-decoration: none;
  &:hover {
    color: var(--color-blue-primary);
  }
}
