.project-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* 아이템 간 가로/세로 간격 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  padding: 2rem;
  margin-bottom: 4rem;
}
.project-block {
  flex-basis: calc(25% - 1rem); /* 각 아이템의 너비를 균등하게 설정 */
  aspect-ratio: 1.3 / 1.1;
  background-color: white;

  display: flex;
  flex-direction: column;
  padding: 12px;
  cursor: pointer;
}

.project-block:hover {
  transform: scale(1.01); /* 약간 확대 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

/* 이미지 */
.project-picture {
  width: 60%;
  height: 90%;
  border: 1px solid #c1c1c1;
  background-color: #c1c1c1;
  margin-bottom: 10px;
}

.project-picture-fit {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 부모 요소에 맞게 크기 조정, 잘릴 수 있음 */
}

/* 제목 */
.title {
  font-family: 'Pretendard SemiBold';
  font-size: 18px;
  text-align: left;
  line-height: 30px;
  padding-left: 10px;
}

/* 내용 */
.content {
  font-family: 'Pretendard Regular';
  color: #c1c1c1;
  text-align: left;
  padding-left: 10px;
}

.borrow {
  font-family: 'Pretendard Regular';
  color: rgb(255, 0, 0);
  text-align: left;
  padding-left: 10px;
}

.available {
  font-family: 'Pretendard Regular';
  color: #2cb4db;
  text-align: left;
  padding-left: 10px;
}

@media (max-width: 1024px) {
  .project-block {
    flex-basis: calc(50% - 1rem); /* 2개씩 배치 */
  }
}

/* 화면이 768px 이하일 때: 1개씩 배치 */
@media (max-width: 768px) {
  .project-block {
    flex-basis: calc(100% - 1rem); /* 1개씩 배치 */
  }
}
