.project-list-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* 기본적으로 최소 300px 크기, 화면 크기에 맞춰 열 개수 조정 */
  padding-top: 34px;
  padding-bottom: 10rem;
  max-width: 1200px; /* 컨테이너 최대 너비 */
  margin: 0 auto; /* 가로 중앙 정렬 */
}

.background {
  background-color: white;
  margin-bottom: 100px;
  margin-top: 34px;
}
