/* Modal Content */
.modalContent {
  background-color: white;
  width: clamp(320px, 70vw, 70vw);
  height: clamp(450px, 70vw, 70vw);
  max-width: 1000px;
  max-height: 90vh;
  border-radius: 1rem;
  padding: 2vw;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 내용이 모달 밖으로 나오지 않도록 */
  position: relative;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Header */
.modal-header {
  font-size: clamp(15px, 2vw, 2vw);
  position: absolute;
  top: 3vw;
  left: 5vw;
  right: 3vw;
  font-family: 'Pretendard Bold';
}

/* Modal Body */
.modal-body {
  display: flex;
  flex-direction: column;
  margin-top: 4vw;
  padding-left: 3vw;
  padding-right: 3vw;
  justify-content: center;
  align-items: center; /* 세로 방향 중앙 정렬 */
  position: relative; /* 자식 이미지들을 절대 위치로 설정할 수 있게 만듦 */
}

.image {
  width: 500px; /* px로 고정된 너비 */
  height: 250px; /* px로 고정된 높이 */
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 30px; /* top 마진을 고정된 크기로 설정 */
  display: block;
  position: relative;
  z-index: 0;
}
.image2 {
  position: absolute; /* 두 번째 이미지를 절대 위치로 배치 */
  left: 10; /* 첫 번째 이미지의 왼쪽에 맞추기 */
  top: -60px; /* 이미지를 첫 번째 이미지 위로 60px 이동 */
  width: 570px; /* 고정된 너비 */
  height: 500px; /* 고정된 높이 */
  z-index: 1; /* 두 번째 이미지를 첫 번째 이미지 위에 겹치게 설정 */
}

/*----------------이미지 반응형--------------*/
@media (max-width: 785px) {
  .image {
    width: 400px; /* px로 고정된 너비 */
    height: 200px; /* px로 고정된 높이 */
  }
  .image2 {
    top: -40px; /* 이미지를 첫 번째 이미지 위로 60px 이동 */
    width: 460px; /* 고정된 너비 */
    height: 400px; /* 고정된 높이 */
  }
}
@media (max-width: 700px) {
  .image {
    width: 300px; /* px로 고정된 너비 */
    height: 150px; /* px로 고정된 높이 */
  }
  .image2 {
    top: -24px; /* 이미지를 첫 번째 이미지 위로 60px 이동 */
    width: 340px; /* 고정된 너비 */
    height: 300px; /* 고정된 높이 */
  }
}
@media (max-width: 570px) {
  .image {
    width: 260px; /* px로 고정된 너비 */
    height: 110px; /* px로 고정된 높이 */

    margin-bottom: 10px;
    margin-top: 30px; /* top 마진을 고정된 크기로 설정 */
  }
  .image2 {
    top: -10px; /* 이미지를 첫 번째 이미지 위로 60px 이동 */
    width: 290px; /* 고정된 너비 */
    height: 220px; /* 고정된 높이 */
  }
}
/*------------------------------------------*/
.description {
  font-family: 'Pretendard Regular';
  font-size: clamp(8px, 1vw, 1vw);
  width: 100%;
  line-height: 1.5;
  flex-direction: column;
  justify-content: center;
  color: #3e3e3e;
}
.content-description {
  font-family: 'Pretendard SemiBold';
  font-size: clamp(10px, 2.5vw, 25px);
  margin-top: 30px;
  margin-bottom: 1.5vw;
}

.modal-footer {
  position: absolute;
  top: 2vw; /* top 값은 헤더와 겹치지 않도록 조정 */
  right: 0vw;
  text-align: center;
  display: flex;
  flex-direction: row; /* 버튼들을 가로로 나열 */
  gap: 1.5vw; /* 버튼 사이 간격 */
  padding: 1vw;
  align-items: center; /* 세로로 정렬 */
}

.close-button {
  position: absolute;
  right: 2vw;
  font-size: clamp(15px, 2vw, 2vw);
  border: none;
  background-color: transparent;
  color: lightgray;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}

/* URL Button */
.url-button {
  font-size: clamp(0.3rem, 1.5vw, 1.5rem);
  font-family: 'Pretendard Semibold';
  background-color: #2cb4db;
  color: white;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  margin-left: 10px;
  position: absolute;
  white-space: nowrap; /* 텍스트가 줄 바꿈 되지 않도록 설정 */
}

.right {
  margin-left: auto;
  font-size: clamp(8px, 1vw, 1vw);
  font-family: 'Pretendard Bold';
  color: #2cb4db;
}
