.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-file-white);
}

.dropdown {
  height: 2.5rem;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-dark-stroke);
  background-color: var(--color-white);
  font-size: 16px;
  font-family: 'Pretendard Medium';
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dropdown:hover {
  border-color: var(--color-hover-blue);
}

.dropdown:focus {
  outline: none;
  border-color: var(--color-hover-blue);
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

@media (max-width: 600px) {
  .dropdown {
    font-size: 15px;
  }
}
